// http://ionicframework.com/docs/v2/theming/

// Style for color and progressBar
// --------------------------------------------------

p.statusRun {
	color: #04882b;
    font-weight: 600;
}

p.statusErr {
	color: red;
    font-weight: 600;
}

.alertBg {
	.progress-inner {
		background: linear-gradient(to right, #ffbbbb , white);
	}
}

.warningBg {
	.progress-inner {
	  background: linear-gradient(to right, #ffd08f , white);
	}
}

// general style
// --------------------------------------------------

.left-align {
	text-align: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.noPadding {
	padding: 0px;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
