page-areaa {

}

button {
	background-color: transparent;
	text-align: left;
}

/*.item-md {
	background-color: transparent;
}*/

.card-content-ios {
	padding: 0px;
}

.card-ios {
    margin: 0px;
    width: calc(100%);
}

.title-size {
	font-size: 18px;
}

.greyBg {
	background: #f7f7f7;
}