page-about {

}

.normalBg {
	background: linear-gradient(to right, #91ff87 , white);
}

.alertBg {
	background: linear-gradient(to right, #ffbbbb , white);
}

.warningBg {
  background: linear-gradient(to right, #ffd08f , white);
}

.redFont {
	color: red;
}

.greenFont {
	color: green;
}

.orangeFont {
	color:orangered;
}