<ion-header>
  <ion-navbar>
    <ion-title>
      {{name}}: CPU
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div id="chart-CPU"></div>
<br>
<ion-list>
	<ion-list-header>
		<h2>Attributes</h2>
	</ion-list-header>
		<ion-item>
			<ion-list *ngFor="let CPU of CPUData.CPUs">
				<ion-list-header>
				{{CPU.name}}
				</ion-list-header>
				<ion-grid>
					<ion-item>
						<ion-row>
							<ion-col width-33>
								Usage:
							</ion-col>
							<ion-col width-66>
								<progress-bar [progress]="CPU.usage" class="alertBg" *ngIf="numState(CPU.usage) === 2"></progress-bar>
								<progress-bar [progress]="CPU.usage" class="warningBg" *ngIf="numState(CPU.usage) === 1"></progress-bar>
								<progress-bar [progress]="CPU.usage" *ngIf="numState(CPU.usage) === 0"></progress-bar>
							</ion-col>
						</ion-row>
					</ion-item>
					<ion-item>
						<ion-row>
							<ion-col width-50>
								Frequency:
							</ion-col>
							<ion-col width-50>
							 {{CPU.frequency}}
						 </ion-col>
						</ion-row>
					</ion-item>
				</ion-grid>
			</ion-list>
		</ion-item>
	</ion-list>
</ion-content>
