page-CPU {

}

.alertBg {
	.progress-inner {
		background: linear-gradient(to right, #ffbbbb , white);
	}
}

.warningBg {
	.progress-inner {
	  background: linear-gradient(to right, #ffd08f , white);
	}
}

div.scroll-content {
	padding: 0px;
}